// This file contains CSS helper classes.


/**
  * Main content containers
  * - Make the container full-width with a maximum width
  * - Center it in the viewport
  * - Leave some space on the edges, especially valuable on small screens
  */
.container{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 115px 0px ;
  flex-wrap: wrap;
}
.item {
  @include sm{
    flex: 0 100%
  };

  @include rwd(1400px){
    flex: 0 40%
  }

  &:nth-child(1){
    width: $full-width;
    display: none;
    @include sm{
      margin-left: 90px;
      margin-right: 90px;
    };
  
    @include rwd(1100px){
      display: block;
      margin-left: 90px;
      margin-right: 0px;
    }
  }

  &:nth-child(2){
    @include sm{
      margin-left: 90px;
      margin-right: 90px;
    };
  
    @include rwd(1400px){
      margin-left: 0px;
      margin-right: 90px;
    }
  }
}

.pointer{
  cursor: pointer;
}
