// Descriptive Colors
$white: #ffffff;
$black: #333333;
$gray: #E5E5E5;
$dark-gray: #EAEEF4;
$pink: #FF22B1;
$light-blue: #4461D7;

// Functional Colors
$color-bg: $gray;
$color-dark-gray: $dark-gray;
$color-tag: $pink;
$color-blue: $light-blue;
